* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #272527;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 450px 30px 140px 30px 150px;
  grid-column-gap: 0px;
  grid-row-gap: 3%;
}

.header {
  display: flex;
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
  justify-content: space-between;
  grid-area: 1 / 1 / 2 / 2;
  background: #111115;
  color: #09dc3a;
  padding-left: 20px;
  padding-right: 20px;
}

.header img {
  grid-area: 1 / 1 / 2 / 2;
  background: #09dc3a;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  padding: 9px;
  transition: 0.5s ease-in-out;
}

.header img:hover {
  rotate: 180deg;
  box-shadow: 0px 0px 40px 2px #09dc3a;
}

.header-left {
  padding: 5px;
  border: #09dc3a solid 2px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #052a16;
}

.section1 {
  grid-area: 2 / 1 / 3 / 2;
  margin-left: 10%;
  margin-right: 10%;
  background: #1a1925;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-top: 100px;
  border: rgb(61, 60, 60) solid 1px;
}

.radar-part2 div {
  padding: 20px;
}

.radar-part2 h2 {
  color: #09dc3a;
}

.radar-part2 span {
  color: gray;
}

.radar,
.sweep {
  position: relative;
}
.radar {
  overflow: hidden;
  /* top: 50%; */
  /* left: 50%; */
  /* margin: -117px; */
  width: 248px;
  height: 248px;
  border-radius: 50%;
  box-shadow:
    0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background:
    repeating-radial-gradient(
      transparent 0 23px,
      #287a33 24px 26px,
      #0000 27px
    ),
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50%
      no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0)
      50% no-repeat,
    linear-gradient(#333, #111);
  background-size:
    100%,
    218px 218px,
    218px 218px,
    100%;
}
.sweep {
  box-sizing: border-box;
  top: 16px;
  left: 16px;
  border-right: solid 1px hsla(145, 50%, 40%, 0.3);
  width: 108px;
  height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(
    50deg,
    rgba(34, 34, 34, 0) 56%,
    hsla(145, 50%, 40%, 1)
  );
  animation: sweep 5s infinite linear;
}
@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}

.section2 {
  display: flex;
  grid-area: 3 / 1 / 4 / 2;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

.section2 div {
  margin: 10px;
  padding: 5px;
  border: rgb(61, 60, 60) solid 1px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(223, 220, 220);
  height: 20px;
}

.section3 {
  display: flex;
  flex-wrap: wrap;
  grid-area: 4 / 1 / 5 / 2;
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  margin-right: 20px;
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background: #1a1925;
  border-radius: 25px;
  padding: 20px;
}

.card-title {
  margin: 3%;
  display: flex;
  justify-content: space-between;
  color: gray;
}

.card-title span {
  padding: 5px;
}

.card-msg {
  margin: 3%;
  color: rgb(223, 220, 220);
}

.card-load {
  display: flex;
  align-items: center;
  margin: 3%;
  color: #09dc3a;
}
.card-load span {
  margin-left: 10px;
}
.card-load div {
  background-color: #09dc3a;
  height: 10px;
  width: 250px;
  color: #09dc3a;
  border-radius: 5px;
}

.title-of-card {
  border: rgb(61, 60, 60) solid 1px;
  border-radius: 7px;
}

.border-green {
  border-left: 5px solid #09dc3a;
}

.border-orange {
  border-left: 5px solid #f7d205;
}

.red-title {
  color: #e6094b;
  border: #e6094b solid 1px;
  background: #e6094b3a;
}

.section4 {
  grid-area: 5 / 1 / 6 / 2;
  background: yellow;
}
.footer {
  grid-area: 6 / 1 / 7 / 2;
  background: yellow;
}
